<div class="container">
  <div class="row mx-auto">
    <div class="main-title col-md-11">
      <h2 class="page-title">
        <span>新規会員登録</span>
      </h2>
      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="info">
          <table>
            <tbody>
              <tr>
                <th style="width: 50%;" class="t-head"><%= f.label :name, "ユーザー名" %></th>
                <td style="width: 50%;"><%= f.text_field :name, autofocus: true, class: 'form-control' %></td>
              </tr>
              <tr>
                <th style="width: 50%;" class="t-head"><%= f.label :email, "Eメール" %></th>
                <td style="width: 50%;"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %></td>
              </tr>
              <tr>
                <th style="width: 50%;" class="t-head"><%= f.label :sex, "性別" %></th>
                <td style="width: 50%; padding-bottom: 0;">
                  <%= f.label :man, "男性" %>
                  <%= f.radio_button :sex, :man %>
                  <%= f.label :woman, "女性"  %>
                  <%= f.radio_button :sex, :woman %>
                </td>
              </tr>
              <tr>
                <th style="width: 50%;" class="t-head"><%= f.label :birth_date, "生年月日" %></th>
                <td style="width: 50%;"><%= f.date_select :birth_date, use_month_numbers: true, start_year: 1930, end_year: (Time.now.year - 20), default: Date.new(1990, 1, 1) %></td>
              </tr>
              <tr>
                <th style="width: 50%;" class="t-head"><%= f.label :prefecture_id, "都道府県" %></th>
                <td style="width: 50%;"><%= f.collection_select :prefecture_id, Prefecture.all, :id, :pref_name, {include_blank: "---"}, class: 'form-control' %></td>
              </tr>
              <tr>
                <th style="width: 50%;" class="t-head"><%= f.label :password, "パスワード" %></th>
                <td style="width: 50%;">
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
                </td>
              </tr>
              <tr>
                <th style="width: 50%;" class="t-head"><%= f.label :password_confirmation, "パスワード（確認）" %></th>
                <td style="width: 50%;"><%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %></td>
              </tr>
            </tbody>
          </table>
          <br>
          <div class="actions row mt-4">
           <%= f.submit "登　録", class: 'btn btn-danger mx-auto h3' %>
          </div>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>