<div class="container">
  <div class="row mx-auto">
    <div class="main-title col-md-11">
      <h2 class="page-title">
        <span class="beer">登録内容変更</span>
      </h2>
      <div class="info">
        <div style="text-align:right;">
          <%= link_to ">>ユーザー情報を編集する", edit_user_path(@user), class: 'text-secondary' %>
        </div>
        <table>
          <tbody>
            <tr>
              <th style="width: 50%;" class="t-head">ユーザー名</th>
              <td style="width: 50%;" class="t-body2"><%= @user.name %></td>
            </tr>
            <tr>
              <th style="width: 50%;" class="t-head">メールアドレス</th>
              <td style="width: 50%;" class="t-body2"><%= @user.email %></td>
            </tr>
            <tr>
              <th style="width: 50%;" class="t-head">生年月日</th>
              <td style="width: 50%;" class="t-body2"><%= @user.birth_date.strftime('%Y/%m/%d') %></td>
            </tr>
            <tr>
              <th style="width: 50%;" class="t-head">性別</th>
              <td style="width: 50%;" class="t-body2"><%= @user.sex %></td>
            </tr>
            <tr>
              <th style="width: 50%;" class="t-head">都道府県</th>
              <td style="width: 50%;" class="t-body2"><%= @user.pref_name %></td>
            </tr>
          </tbody>
        </table>
        <br>
        <table>
          <tbody>
            <tr>
              <th class="t-head">プロフィール写真</th>
              <td class="t-body2"><%= attachment_image_tag @user, :profile_image, :fill, 150, 150 %></td>
            </tr>
            <tr>
              <th class="t-head">好きなビアスタイル</th>
              <td class="t-body2"><%= @user.favorite_style %></td>
            </tr>
            <tr>
              <th class="t-head">お気に入りビール</th>
              <td class="t-body2"><%= simple_format(@user.favorite_beer) %></td>
            </tr>
            <tr>
              <th class="t-head">自己紹介・備考</th>
              <td class="t-body2"><%= simple_format(@user.introduction) %></td>
            </tr>
          </tbody>
        </table>
        <div style="text-align: left; margin-top: 6px;">
          <%= link_to "退会する>>", cancel_path(@user), class: 'text-secondary' %>
        </div>
      </div>
    </div>
  </div>
</div>