<div class="container">
  <div class="row mx-auto">
    <div class="main-title col-md-11">
      <h2 class="page-title">
        <span>ログイン</span>
      </h2>
      <%= form_with model: @user, url: user_session_path, local: true do |f| %>
        <div class="info">
          <table>
            <tbody>
              <tr>
                <th style="width: 50%;" class="t-head"><%= f.label :email, "Eメール" %></th>
                <td style="width: 50%;"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %></td>
              </tr>
              <tr>
                <th style="width: 50%;" class="t-head"><%= f.label :password, "パスワード" %></th>
                <td style="width: 50%;"><%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %></td>
              </tr>
            </tbody>
          </table>
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          <div class="actions row mt-4">
           <%= f.submit "ログイン", class: 'btn btn-danger mx-auto h3' %>
          </div>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>