<div class="container">
  <div class="row mx-auto">
    <div class="main-title col-md-11 info mt-4">
      <h2 class="page-title">
        <span class="new">投稿内容編集</span>
      </h2>
      <%= form_with model: @beer, local:true do |f| %>
      <div>
        <table>
          <tbody>
            <tr>
              <th style="width: 25%;" class="t-head2"><%= f.label :name, "ビール名" %></th>
              <td style="width: 85%;" class="t-body2"><%= f.text_field :name, class: 'form-control' %></td>
            </tr>
            <tr>
              <th style="width: 25%;" class="t-head2"><%= f.label :feature, "おすすめポイント" %></th>
              <td style="width: 85%;" class="t-body2"><%= f.text_field :feature, class: 'form-control' %></td>
            </tr>
            <tr>
              <th style="width: 25%;" class="t-head2"><%= f.label :style, "ビールスタイル" %></th>
              <td style="width: 85%;" class="t-body2"><%= f.select :style, [["ラガー"], ["エール"], ["ハイブリッド"], ["その他"]], include_blank: "選択して下さい" %></td>
            </tr>
            <tr>
              <th style="width: 25%;" class="t-head2"><%= f.label :retailer, "購入場所" %></th>
              <td style="width: 85%;" class="t-body2"><%= f.select :retailer, [["専門店"], ["コンビニ・スーパー"], ["通販サイト"], ["その他"]], include_blank: "選択して下さい" %></td>
            </tr>
            <tr>
              <th style="width: 25%;" class="t-head2"><%= f.label :origin, "原産国" %></th>
              <td style="width: 85%;" class="t-body2"><%= f.text_field :origin, class: 'form-control' %></td>
            </tr>
            <tr>
              <th style="width: 25%;" class="t-head2"><%= f.label :abv, "度数" %></th>
              <td style="width: 85%;" class="t-body2"><%= f.text_field :abv %> ％</td>
            </tr>
            <tr>
              <th style="width: 25%;" class="t-head2"><%= f.label :image_id, "ビール画像" %></th>
              <td style="width: 85%;" class="t-body2">
                <%= attachment_image_tag @beer, :image, :fill, 200, 150, class: 'mb-2' %><br>
                <%= f.attachment_field :image, placeholder: "ビール画像" %>
              </td>
            </tr>
          </tbody>
        </table>
        <section>
          <h2 class="explanation mb-0"><%= f.label :explanation, "紹介文" %></h2>
          <p class="pl-2 m-0 ">感想や詳細などがあればお書きください。(右下の外枠から枠を広げることができます)</p>
          <div class="field">
            <%= f.text_area :explanation, class: 'form-control' %>
          </div>
        </section>
        <div class="row mt-4">
         <%= f.submit '保　存', class: 'btn btn-danger mx-auto h3' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>