<div class="container pb-5">
  <div class="row mx-auto" style="margin-bottom: 40px;">
    <div class="col-md-12">
      <div class="details col-md-11">
        <div class="details-box">
          <div id="beer_<%= @beer.id %>">
            <div class="head d-flex">
              <h2 class="headline ml-2"><i class="fas fa-beer text-warning"></i> <%= @beer.name %></h2>
              <p class="favorite-btn"><%= render 'favorites/favorite-btn', beer: @beer %></p>
            </div>
            <ul class="line">
              <li>
                <span class="bg-info text-center text-white p-1 mr-1">ユーザー名</span>
                <%= link_to mypage_path(@beer.user), class: 'text-black-50 border-bottom' do %>
                 <%= @beer.user.name %>さん
                <% end %>
              </li>
              <li><span class="bg-info text-center text-white p-1 mr-2">スタイル</span><%= @beer.style %></li>
              <li><span class="bg-info text-center text-white p-1 mr-2">購入場所</span><%= @beer.retailer %></li>
              <li class="time"><%= @beer.created_at.strftime('%Y/%m/%d %H:%M:%S') %> 投稿</li>
            </ul>
          </div>
          <div class="content-box">
            <div class="image-box">
              <div class="beer-image"><%= attachment_image_tag @beer, :image, :fill, 450, 360, fallback: "no_image.jpg", size:'450x360',class: 'image-picture' %></div>
            </div>
            <div class="beer-text">
              <div class="point">
                <p class="point-title">&nbsp;✔️ ポイント</p>
                <% if @beer.feature.present? %>
                <p class="point-text"><%= @beer.feature %></p>
                <% else %>
                <p class="point-text ml-4">なし</p>
                <% end %>
              </div>
              <table>
                <tbody>
                  <tr>
                    <th class="t-head2">原産国</th>
                    <td class="t-body2"><%= @beer.origin %></td>
                  </tr>
                  <tr>
                    <th class="t-head2">アルコール度数</th>
                    <td class="t-body2"><%= @beer.abv %> %</td>
                  </tr>
                </tbody>
              </table>
              <div class="score-box">
                <div class="score-head">
                  <h2 class="score-title">&nbsp;<i class="fas fa-users"></i>&nbsp;ユーザーレビュー</h2>
                  <div class="average-box">
                    <div id="star-rate-<%="average"%>"></div>
                    <div class="average-font">(平均)</div>
                  </div>
                  <div class="average-text">星５つ中の <%= @average.floor(1).to_f %></div>
                </div>
              </div>
            </div>
          </div>
          <% if @beer.explanation.present? %>
            <div class="introduction mt-3">
              <h2 class="text-title">紹介文</h2>
              <div class="text-box">
                <P class="mt-0 mb-0"><%= simple_format(@beer.explanation) %></P>
              </div>
            </div>
          <% end %>
          <% if current_user == @user %>
            <div class="d-flex mt-4">
              <p class="mx-auto"><%= link_to "編　集", edit_beer_path(@beer), class: 'btn btn-success' %></p>
              <p class="mx-auto"><%= link_to '削　除', beer_path(@beer), method: :delete, data:{ confirm: "本当に削除しますか？" }, class: 'btn btn-danger' %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% if current_user != @user %>
    <div class="row comment-box">
      <div class="main-title col-md-9 comment-set">
        <h2 class="comment-title">
          <span class="new">投稿の感想やコメントを伝えよう <i class="far fa-comment-dots"></i></span>
        </h2>
        <%= form_with model:[@beer,@post_comment] do |f| %>
          <div class="commment-back">
            <div class="d-flex pt-2">
              <div class="star-text"><%= f.label :rate,'評 価', class:'rate-title' %></div>
              <div id="star">
                <span class="rate-star"><%= f.hidden_field :rate, id: :review_star %></span>
              </div>
            </div>
            <div class="post-comment-area">
              <%= f.text_area :comment, placeholder: "コメントを入力", class: 'form-control' %>
            </div>
            <div class="row mt-3">
             <%= f.submit '投　稿', class: 'btn btn-danger mx-auto h3' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div id="beer_<%= @beer.id %>">
    <div class="row user-comment-box">
      <div class="col-md-9 user-comment-set">
        <h2 class="user-comment-title">
          <span class="comments-count">コメント<%= @beer.post_comments.count %>件</span> <i class="far fa-comment-dots"></i>
        </h2>
      </div>
    </div>
    <div class="post_comments">
      <%= render 'post_comments/index', comments: @comments, beer_id: @beer.id %>
    </div>
  </div>
</div>

<!--コメント投稿フォームのスクリプト-->
<script>
　$('#star').empty();
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'post_comment[rate]',
    half: true,
  });
</script>

<!--評価の平均値のスクリプト-->
<script>
  $('#star-rate-<%="average"%>').empty();
  $('#star-rate-<%="average"%>').raty({
    size: 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    half: true,
    readOnly: true,
    score: <%= @average %>,
  });
</script>