<!DOCTYPE html>
<html>
  <head>
    <title>BeerChoice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=360,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrap">
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark ">
          <a class="navbar-brand" href="/">
           <h1 class="title" style="font-family: cursive;">Beer Choice</h1>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
              <!-- ログインしている時 -->
                <div class="navbar-nav">
                  <li class="nav-item">
                    <%= link_to "マイページ", mypage_path(current_user), :style =>"color:white;" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ビール投稿一覧", beers_path, :style =>"color:white;" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "投稿者一覧", users_path, :style =>"color:white;"%>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, :style =>"color:white;" %>
                  </li>
              <% else %>
              <!-- ログインしてない時 -->
                <div class="navbar-nav">
                  <li class="nav-item">
                    <%= link_to "新規登録", new_user_registration_path, :style =>"color:white;" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログイン", new_user_session_path, :style =>"color:white;"%>
                  </li>
                </div>
              <% end %>
            </ul>
          </div>
        </nav>
      </header>
      <!--サクセスメッセージ-->
      <% if flash[:notice] %>
        <div class="alert alert-primary mb-0" role="alert"><strong><%= notice %></strong></div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger mb-0" role="alert"><strong><%= alert %></strong></div>
      <% end %>
      <% if flash[:error] %>
        <div class="alert alert-danger mb-0" role="alert"><strong><%= flash[:error] %></strong></div>
      <% end %>
      <main>
       <%= yield %>
      </main>
      <footer class="bg-danger text-white pt-5 pb-4">
       <div>
         <p class="text-center">Copyright © 2021 BeerChoice All rights reserved.</p>
       </div>
      </footer>
    </div>
  </body>
</html>
